.downald__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-top: 221px;
  padding: 0 220px;
}

.downald__text {
  max-width: 517px;
}

.downald__title {
  font-size: 48px;
  font-weight: 900;
  line-height: 1.5; /* 72px */
  letter-spacing: 2.88px;
}

.downald__subtitle {
  padding: 41px 0;
  color: var(--gray);
  font-size: 24px;
  font-weight: 500;
  line-height: 1.45; /* 145.833% */
  letter-spacing: -0.96px;
}

.downald__icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
